{{gridOptions}}
<mat-card *ngIf="gridOptions && columnDefs; else spinner" class="card-for-grids">
  Hey test
    <!-- <div class="grid-tools">
        <div *ngIf="tableHeader" [innerHTML]="tableHeader" class="table-header"></div>
        <mat-form-field *ngIf="!hideGridFuzzyFilter" class="fuzzy-search">
            <mat-icon matSuffix class="suffix-icon" [matMenuTriggerFor]="fuzzyOptions" matTooltip="Columns to Search" matTooltipPosition="right">filter_list</mat-icon>
            <input matInput #filterInput (keyup)="filter(filterInput.value)" placeholder="Search">
        </mat-form-field>
        <table-tools [exportPrefix]="exportPrefix" [columnNames]="columnNames" [extraTableToolBtn]="extraTableToolBtn" [gridApi]="gridApi"
            [gridColumnApi]="gridColumnApi" [gridExportPrefix]="gridExportPrefix" [toolPanelVisibility]="toolPanelVisibility"
            (extraToolBtnClick)="extraToolUsed($event)" class="table-tools">
        </table-tools>
        <mat-menu #fuzzyOptions="matMenu">
            <div *ngFor="let col of filterableColumns" mat-menu-item (click)="updateColsToFilter(col, $event)">
                <mat-checkbox [checked]="col.includeInSearch">{{col.name}}</mat-checkbox>
            </div>
        </mat-menu>
    </div> -->
    <div>
        <ag-grid-angular
            #agGrid class="ag-theme-material on-card"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [treeData]="treeData"
            [getDataPath]="getDataPath"
            [overlayLoadingTemplate]="overlayLoadingTemplate"
            [animateRows]="animateRows"
            [groupDefaultExpanded]="groupDefaultExpanded"
            [autoGroupColumnDef]="autoGroupColumnDef"
            rowSelection="multiple"
            (gridReady)="apiReady()"
            (gridSizeChanged)="resizeGrid('gridSizeChanged')"
            (modelUpdated)="resizeGrid('modelUpdated')"
            [getContextMenuItems]="getContextMenuItems"
            (rowClicked)="onRowClicked($event)"
            (filterChanged)="onFilterUpdate()">
        </ag-grid-angular>
    </div>
</mat-card>
<ng-template #spinner>
  hi tehere
    <mat-spinner></mat-spinner>
</ng-template>
