.dropdown-menu div.checkbox label {
  margin-left: 10px;
}

.grid-tools {
  align-items: center;
  background-color: #F3F3F3;
  border-bottom: 1px solid #C3C3C3;
  // height: 60px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.mat-card {
  padding: 0;
}

.on-card {
  width: 100%;
}

.suffix-icon {
  font-size: 20px;
  cursor: pointer;
}

.table-header {
  display: inline-block;
  text-align: center;
}

.table-tools {
  margin-left: auto;
  padding-left: 10px;
}